<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Admin</h1>
<form th:action="@{/all}" method="get">
	<button type="submit">Danh sách tài khoản người dùng</button>
</form>
<input th:text="${token}"/>
<h1 th:text="${token}"></h1>
<!-- <form th:action="@{/create}" th:object="${user}" method="post" > -->
	
<!-- 	<input th:field="*{username}" type="text" placeholder="username"/> -->
<!-- 	<input th:field="*{password}" type="text" placeholder="password"/> -->
<!-- 	<input th:field="*{role}" type="text" placeholder="1 or 2 or 3" /> -->
<!-- 	<input  type="submit" value="ADD"/> -->
	
<!-- </form> -->
</body>
</html>